 <script src='/home/michaelz/.npm-global/lib/node_modules/angular-google-maps/node_modules/angular/angular.min.js'></script>
 <script src='/home/michaelz/.npm-global/lib/node_modules/angular-google-maps/node_modules/lodash/lodash.min.js'></script>
 <script src='/home/michaelz/.npm-global/lib/node_modules/angular-google-maps/node_modules/angular-simple-logger/dist/angular-simple-logger.js'></script>
 <script src='/home/michaelz/.npm-global/lib/node_modules/angular-google-maps/dist/angular-google-maps.min.js'></script>
